@model Kargo_Bitirme_Projesi.Entities.Calisanlar

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Calisanlar</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CalisanAdi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CalisanAdi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CalisanSoyadi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CalisanSoyadi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CalisanTelefon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CalisanTelefon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CalisanYas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CalisanYas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CalisanAdres)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CalisanAdres)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CalisanResim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CalisanResim)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
