@model Kargo_Bitirme_Projesi.Entities.Calisanlar

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Calisanlar</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CalisanAdi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CalisanAdi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CalisanSoyadi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CalisanSoyadi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CalisanTelefon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CalisanTelefon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CalisanYas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CalisanYas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CalisanAdres)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CalisanAdres)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CalisanResim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CalisanResim)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
