@model Admin_Panel_Olusturma.Entities.ReferansKategorileri

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">

    <section class="content">
        <div class="container-fluid">
            <h1>Sil</h1>

            <h3>Silmek İstediğinize Emin Misiniz?</h3>
            <div>
                <h4>Kategori Sil</h4>
                <hr />
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.ReferansAdi)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.ReferansAdi)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Durum)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Durum)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.ReferansKategori)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.ReferansKategori.ReferansAdi)
                    </dd>
                </dl>

                <form asp-action="Delete">
                    <input type="hidden" asp-for="Id" />
                    <input type="submit" value="Sil" class="btn btn-danger" /> |
                    <a class="btn btn btn-info" asp-action="Index">Listeye Geri Dön</a>
                </form>
            </div>
        </div>
    </section>
</div>

