@model IEnumerable<Kargo_Bitirme_Projesi.Entities.KargoIslemleri>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TakipNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KargoDesi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KargoAlimTarihi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KargoTahminiTeslim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KargoTeslimTarihi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KargoDurum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeslimAlan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Calisan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Musteri)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TakipNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KargoDesi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KargoAlimTarihi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KargoTahminiTeslim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KargoTeslimTarihi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KargoDurum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeslimAlan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Calisan.CalisanAdres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Musteri.MusteriAd)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
